*{
  padding: 0;
  margin: 0;
  
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #8d1f5f 1.18%, #da1876 100%);
}

.header--pic{
  width: 50px;
  height: 45px;
  padding-right: 7px;
  
}

.header--logo{
  display: flex;
  margin: 20px;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 20.7482px;
  letter-spacing: -0.1em;
  color: #FFFFFF; 
}

.header--text{
  margin: 37px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 15px;
  text-align: right;
  color: #FFFFFF;
}

.meme--form--input{
  display: flex;
  min-width: 230px;
  min-height: 60px; 
  padding: 15px;
}

.meme--form--inputone, .meme--form--inputtwo{
  border-radius: 10px;
  border-width: 1px;
  border-color: #D5D4D8;
  width: 100%;
  margin: 0px 10px;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 14px;
  color: #0D0D0D;
  padding-left: 20px;
}

.meme--form--submit-button{
  display: flex;
  justify-content: center;
  background: linear-gradient(90.41deg, #8d1f5f 1.14%, #da1876 100%);
  align-items: center;
  width: 100%;
  border-radius: 10px;
  border: none;
  height: 60px;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 19px;
  text-align: center;
  letter-spacing: -0.0em;
  color: #FFFFFF;
  cursor: pointer;
}

.meme--form--submit{
  display: flex;
  margin: 0px 25px;
}

.meme--form{
  margin: 36px;
}


.meme--form--imagecontainer{
  display: flex;
  justify-content: center;
  align-self: center;
  position: relative;
}

.meme--form--image{
  max-width: 100%;
  max-height: 100%;
  display: flex;
  padding: 20px;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.top{
  top: 10px;
}

.bottom{
  bottom: 10px;
}